.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 0;
    top:50%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.7s ease-in-out ; /* Adding transition effect */
  }
  
  .carousel-item:hover .carousel-caption {
    transform: translateY(0);
  }
